PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://postgres@127.0.0.1:5433/capacity_connect?schema=public"
JWT_SECRET="imd_capacity_connect_super_secret_jwt_key_2026"
JWT_REFRESH_SECRET="imd_capacity_connect_refresh_secret_key_2026"
CLIENT_URL="http://localhost:3000"
UPLOAD_DIR="./uploads"
